<%= form_with(model: task, local: true) do |form| %>
<% if task.errors.any? %>
  <h2><%= task.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="deadline">
    <%= form.label :deadline %>
    <%= form.text_field :deadline %>
  </div>
  <!--
  <div class="status">
    <%#= form.label :status %>
    <%#= form.text_field :status %>
  </div>
  -->

  <%= form.submit %>
<% end %>
<%= link_to '一覧画面へ', tasks_path %>
