<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <h2><%= task.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="task_title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="task_content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="deadline">
    <%= f.label :deadline %>
    <%= f.text_field :deadline %>
    <%#= f.datetime_field :deadline %>
  </div>

  <%= f.select :status, [["未着手", "未着手"], ["着手", "着手"], ["完了", "完了"]], selected: "着手" %>

  <%= f.select :priority, [["高", "高"], ["中", "中"], ["低", "低"]], selected: "高" %>

  <%#= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>

  <% Label.all.each do |label| %>
    <%= f.check_box :label_ids, { multiple: true, checked: @task.labels.find_by(id: label.id).present?, include_hidden: false }, label[:id] %>
    <%= label.name %>
  <% end %>

<!--
  <%# Label.all.each do |label| %>
    <%#= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <%# end %>
-->
  <%= f.submit %>
<% end %>
<%= link_to '一覧画面へ', tasks_path, class: "btn btn-light" %>
<%= link_to 'ラベル一覧画面へ', labels_path, class: "btn btn-light" %>
