<h2>タスクの詳細</h2>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>ステータス: <%= @task.status %></p>
<p>終了期限: <%= @task.deadline %></p>
<p>登録日: <%= @task.created_at %></p>
<% @labels.each do |label| %>
  <%= label.name %>
<% end %>
<%= link_to '一覧画面へ', tasks_path %>
